* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.Landing {
  height: 100vh;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
.logo {
  content: url("./assets/logo.png");
  width: 45px;
  height: 45px;
  padding-left: 50px;
  color: rgb(14, 14, 14);
  justify-content: center;
}
ul > li {
  display: inline-block;
  padding-right: 50px;
}
ul > li > a {
  text-decoration: none;
  color: rgb(19, 19, 19);
}

.HomeContent {
  line-height: 1.5rem;
  font-weight: bold;
  gap: 50px;
  width: 100%;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  font-size: 50px;
}
.HomeContent > p > span {
  color: #32a86f;
  font-weight: bold;
}
.HomeContent > p {
  font-size: 40px;
}
.HomeContent > .type {
  color: #32a86f;
}
.HomeContent > .describe {
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  width: 600px;
}
.Bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("./assets/page2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.About {
  height: 500px;
  width: 100%;
}
.About {
  background-image: url("./assets/yow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About > div {
  text-align: center;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.About > div > h1 {
  font-size: 30px;
}
.About > div > p {
  font-size: 15px;
  line-height: 1.5rem;
  width: 90%;
}
.About > div > h1 > span {
  color: #32a86f;
}
.About > div > h1 > img {
  content: url("./assets/wave.png");
  margin-left: 10px;
  height: 30px;
  width: 30px;
}
.Skills > div {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
}

.Skills > div > span {
  font-weight: bold;
  color: #32a86f;
}
.Skills {
  height: 90vh;
  background-color: rgb(200, 202, 200);
  background-image: url("./assets/bk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Skills > .Skillsko > img {
  border: 0px solid;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.45);
  padding: 22px;
  border-radius: 10px;
}
.Filler {
  height: 10vh;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.Filler > div {
  justify-content: space-around;
  display: flex;
  width: 100%;
  align-items: center;
}
.Filler > div > img {
  height: 45px;
}
.About > div > img {
  height: 200px;
  border-radius: 50%;
  content: url("./assets/mypic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.About > div {
  width: 70%;
  height: 90%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.Skills > .Skillsko > img {
  height: 90px;
  width: 90px;
}
.Skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.Describe {
  font-size: 40px;
  color: black;
  font-weight: bold;
}
.Skillsko {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vh;
}
.Filler {
  background-image: url("./assets/62.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.Footer {
  background-image: url("./assets/bk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 5vh;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: lighter;
}
@media (max-width: 900px) {
  .Skills > .Skillsko > img {
    padding: 25px;
    height: 50px;
    width: 50px;
  }
  .Skills > div {
    font-size: 35px;
  }
  .Skillsko {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
  }
}
@media (max-width: 700px) {
  .HomeContent {
    padding-top: 10px;
    height: 100vh;
  }
  .HomeContent > .type {
    font-size: 25px;
  }
  .HomeContent > p {
    font-size: 22px;
  }
  .HomeContent > .describe {
    font-size: 15px;

    width: 320px;
  }
  .Filler {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url("./assets/62.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: green;
  }
  .Bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url("./assets/mine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  //about
  .About > div > img {
    height: 120px;
  }
  .About > div > h1 {
    font-size: 15px;
  }
  .About {
    width: 100%;
    background-image: url("./assets/bk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
  }
  .About > div > p {
    font-size: 12px;
    font-weight: lighter;
    line-height: 1.3rem;
    width: 250px;
  }
  .About > div {
    width: 280px;
  }

  .Skills > div {
    font-size: 28px;
  }
  .Skillsko {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 320px;
  }
  .Skills > .Skillsko > img {
    padding: 13px;
    height: 45px;
    width: 45px;
  }
  .Skills {
    height: 90vh;
    background-color: rgb(200, 202, 200);
    background-image: url("./assets/bk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .Filler {
    font-size: 10px;
    height: 10vh;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .Filler > div {
    justify-content: space-around;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .Filler > div > img {
    height: 30px;
  }
  .Footer {
    font-size: 10px;
  }
}
